= link_to 'New Source', new_source_path, {class: "btn btn-fakturo btn-fakturo-action float-end"}

%h1 Sources

%table.table
  %thead
    %tr
      %th Name
      %th # of expenses
      %th

  %tbody
    - @sources.each do |source|
      %tr
        %td= source.name
        %td= source.expenses.count
        %td
          %a{ :href => "#{source_path(source.id)}", "data-bs-toggle" => "tooltip", "data-bs-placement" => "left", "data-bs-title" => "Show details" }
            %svg.bi.pe-none.me-2{ :width => "16", :height => "16", "aria-hidden" => "true" }
              %use{ "xlink:href" => "#edit" }
