%h1 Erase all user data

%div.text-start.mt-3.alert.alert-warning{:role => "alert"}
  %h5
    Caution
  %hr
  The button below will erase all user data. This action is irreversible. If you are concerned about user data usage and privacy, please consult
  = link_to "Data & Privacy policy", policy_path
  
.accordion#accordionExpenses
  .accordion-item
    %h2.accordion-header
      %button.accordion-button.collapsed{:type => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#collapseOne", "aria-expanded" => "false", "aria-controls" => "collapseOne"}
        I wish to proceed and erase all my data
    #collapseOne.accordion-collapse.collapse{"data-bs-parent" => "#accordionExpenses"}
      .accordion-body
        %div.text-start.mt-3.alert.alert-danger{:role => "alert"}
          You will not be prompted to confirm after clicking in the button below. Proceed with caution.
        = link_to "Erase everything", destroy_data_path, class: "btn btn-danger form-control", data: {turbo_method: :delete}
  