= link_to 'New Expense', new_expense_path, {class: "btn btn-fakturo btn-fakturo-action float-end"}

%h1 Expenses

.digg_pagination.d-flex.justify-content-center.mb-3
  = will_paginate @expenses, :container => false

= render partial: "table", locals: {expenses: @expenses, show: %i[ statement source category subcategory ]}

.digg_pagination.d-flex.justify-content-center.mb-3
  = will_paginate @expenses, :container => false