%h1 New expense

.container.w-50{"data-controller" => "expenses"}
  %input{:type => "hidden",:id => "categoriesForCurrentUser", :value => "#{raw Current.user.categories.to_json(include: :subcategories)}"}
  = render partial: "form", locals: {expense: @expense, statements: Current.user.statements, categories: Current.user.categories, async: false} 
