%h1 New expense

.container.w-50{"data-controller" => "expenses"}
  %input{:type => "hidden",:id => "categoriesForCurrentUser", :value => "#{raw @categories.to_json(include: :subcategories)}"}
  = render partial: "form", locals: {expense: @expense, statements: @statements, categories: @categories, async: false} 
