name: Release
on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  cd:
    name: CD
    uses: nu12/templates/.github/workflows/rails-release.v1.yml@main
    secrets: inherit
