name: 'PR'

on:
  workflow_dispatch: {}
  pull_request:
    branches:
    - main

jobs:
  ci:
    name: CI
    uses: nu12/templates/.github/workflows/rails-pr.v1.yml@main
    with:
      run-scan: true
      run-lint: true
      run-test: true
      run-docker-build: true
      ruby-version: .ruby-version
      docker-tag: 'latest'
    secrets: inherit